<h1>Editing emergency</h1>

<%= render "form", emergency: @emergency %>

<br>

<div>
  <%= link_to "Show this emergency", @emergency %> |
  <%= link_to "Back to emergencies", emergencies_path %>
</div>
