<p style="color: green"><%= notice %></p>

<h1>Emergencies</h1>

<div id="emergencies">
  <% @emergencies.each do |emergency| %>
    <%= render emergency %>
    <p>
      <%= link_to "Show this emergency", emergency %>
    </p>
  <% end %>
</div>

<%= link_to "New emergency", new_emergency_path %>
