<h1>Editing condominium</h1>

<%= render "form", condominium: @condominium %>

<br>

<div>
  <%= link_to "Show this condominium", @condominium %> |
  <%= link_to "Back to condominia", condominia_path %>
</div>
