<div id="<%= dom_id apartment_tenant %>">
  <p>
    <strong>Apartment:</strong>
    <%= apartment_tenant.apartment_id %>
  </p>

  <p>
    <strong>Tenant:</strong>
    <%= apartment_tenant.tenant_id %>
  </p>

  <p>
    <strong>Current:</strong>
    <%= apartment_tenant.current %>
  </p>

</div>
