<h1>Editing apartment tenant</h1>

<%= render "form", apartment_tenant: @apartment_tenant %>

<br>

<div>
  <%= link_to "Show this apartment tenant", @apartment_tenant %> |
  <%= link_to "Back to apartment tenants", apartment_tenants_path %>
</div>
